<a href="https://colab.research.google.com/github/Mano1720/DL-ML-/blob/main/Assignment_2_REGex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. ***Write a lambda expression to extract first word of a string.***

In [7]:
a='Data science is an interdisciplinary field'
b=lambda s:s.split()[0]
b(a)

'Data'

***Q2. Write a function to extract first word of s string (with many words separated by space).***

In [8]:
def extract_1st(s):
  return s.split()[0]

s='Astronomer Tobias Mayer born 1723 was the first the  data scientist.'
extract_1st(s)

'Astronomer'

***Q3. Extract the first word from every string from a list of strings by using map function.***

In [19]:
piece=['Monkey D Luffy','Gol D Roger','Rock D Xebec','Edward Newgate']
list(map(lambda s:s.split()[0],piece))

['Monkey', 'Gol', 'Rock', 'Edward']

***Q4. Write a function to return a list of prime factors of a given number.***

In [24]:
def isprime(num):
  factor=[]
  divisor=2
  while divisor <= num:
    if num%divisor==0:
      factor.append(divisor)
      num=num/divisor
    else:
      divisor+=1
  return factor

num=int(input('enter the number to find the list of prime numbers: '))
print(isprime(num))

enter the number to find the list of prime numbers: 798
[2, 3, 7, 19]

***Q5. Write a function that finds 2nd largest among 4 numbers (Repetitions are allowed,
without sorting).***

In [36]:
def max_2nd(nums):
  #we convert the list to a set so repeated values a not taken
  nums_set=set(nums)
  #now we convert the set with unique values back to list for finding the second highest value
  nums_list=list(nums_set)
  #now we find the maximum values in the list and remove that
  nums_max=max(nums_list)
  nums_list.remove(nums_max)
  #since the largest is removed from thr list now if we find the maxium value we get the second largest value
  nums_max=max(nums_list) 
  return (nums_max)

#Take the input of list of numbers
nums_s=input('enter the list of numbers')
#now we split the numsbers
nums_s_splt=nums_s.split()
#now we convert the nums_splt into int
nums=map(int ,nums_s_splt)
print(max_2nd(nums))

enter the list of numbers1 2 4 5 10 11 100 200 250 500
250