<a href="https://colab.research.google.com/github/Mano1720/DL-ML-/blob/main/Assignment_1_REGex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Task 1

**K** **Manoj**

Referral Id:**SIRSS2309**

In [1]:
n=int(input('enter the number of rows: '))
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print("5 ",end=' ')
  print(" ")

enter the number of rows: 5
5  5  5  5  5
5  5  5  5
5  5  5
5  5
5

In [2]:
n=int(input('enter the number of rows: '))
for i in range(n,0,-1):
  for j in range(0,i+1):
    print(j,end=' ')
  print(" ")

enter the number of rows: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [3]:
n=5
i=1
while (i<=n):
    j=1
    while (j<= i):
      print(i*2-1,end=' ')
      j+=1
    i+=1
    print(" ")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
n=6
for i in range(1,n):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [17]:
a=1
b=2
num=b
for i in range(2,6):
  for j in range(a,b):
    num-=1
    print(num ,end=' ')
  print() 
  a=b
  b+=i
  num=b

1
3 2
6 5 4
10 9 8 7

In [6]:
def pascal(n):
  for i in range (0,n):
    for j in range(0,i+1):
      print(function(i,j)," " , end=' ')
    print() 

def function(n,k):
  r=1
  if(k>n-k):
    k=n-k
  for i in range (0,k):
      r=r*(n-i)
      r=r//(i+1)


  return r

pascal(7)

1
1   1
1   2   1
1   3   3   1
1   4   6   4   1
1   5   10   10   5   1
1   6   15   20   15   6   1

In [7]:
a=5
for i in range(0,a+1):
  for j in range(0,a+1):
    if j<=i:
      print(i ,end=' ')
    else:
       print(j ,end=' ')  
  print()

0 1 2 3 4 5
1 1 2 3 4 5
2 2 2 3 4 5
3 3 3 3 4 5
4 4 4 4 4 5
5 5 5 5 5 5

In [8]:
def pa(n):
  for i in range (0,n+1):
    for j in range(1,i+1):
      print(j*i, end=' ')
    print() 
pa(8)

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [9]:
num=6
for i in range(num,0,-1):
  for j in range(0,num-i):
    print(end=" ")
  for j in range(0,i):
    print('* ',end=' ')
  print()

*  *  *  *  *  *
 *  *  *  *  *
  *  *  *  *
   *  *  *
    *  *
     *

In [10]:
num=7
for i in range(0,num+1):
  for j in range(0,num-i):
    print(end=" ")
  for j in range(0,i):
    print('* ',end=' ')
  print()

      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *
 *  *  *  *  *  *
*  *  *  *  *  *  *

In [11]:
n=6
for i in range(1,n+1):
  for j in range(i,0,-1):
    print('*',end=' ')
  print() 
print("\n")
for i in range(n,0,-1):
  for j in range(0,i):
    print('*',end=' ')
  print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *


* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
n=6
for i in range(0,n):
  for j in range(0,i+1):
    print('*',end=' ')
  print()  
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print('*',end=' ') 
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [19]:
def p(n):
  k=2*n-2
  for i in range(0,n-1):
    for j in range(0,k):
      print(end=' ')
    k=k-2
    for j in range(0,i+1):
      print("*",end=' ')
    print("\r")  
  k=-1
  for i in range (n-1,-1,-1):
    for j in range (k,-1,-1):
       print(end=' ')
    k=k+2
    for j in range(0,i+1):
      print("*",end=' ')  
    print("\r")
 

p(5)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [14]:
a=5
i=0
while i <=a-1:
  j=0
  while j< i:
    print('',end=" ")
    j+=1
  k=i
  while k <=a-1:
    print("*",end=" ")  
    k+=1
  print()
  i+=1

i=a-1
while i >=0:
  j=0
  while j < i:
    print('',end=" ")   
    j+=1
  k=i
  while k<=a-1:
    print("*",end=' ')
    k+=1
  print('')  
  i-=1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
a=14
print('*'*a,end="\n")
i=(a//2)-1
j=2
while i!=0:
  while j<=(a-2):
    print('*'*i,end="")
    print('_'*j,end="")
    print('*'*i,end="\n")
    i=i-1
    j=j+2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*